<div *ngIf="user$">
  <h1>{{ user$.name }}</h1>

  <ul>
    <li><strong>Username:</strong> {{ user$.username }}</li>
    <li><strong>Email:</strong> {{ user$.email }}</li>
    <li><strong>Phone:</strong> {{ user$.phone }}</li>
    <li><strong>Address:</strong> 
      {{ user$.address.street }}, 
      {{ user$.address.suite }}, 
      {{ user$.address.city }}, 
      {{ user$.address.zipcode }}
    </li>
    <li><strong>Company:</strong> 
      {{ user$.company.name }} 
      <strong>Catch phrase: </strong>{{ user$.company.catchPhrase }}. 
      <strong>Mission: </strong>{{ user$.company.bs }}.
    </li>
  </ul>
</div>
